<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/annotation-default-component-names/src/main/java/com/luv2code/annotation_default_component_names/App.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.luv2code.annotation_default_component_names.App"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="annotation-default-component-names"/>
</launchConfiguration>
